.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 50%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product_rating {
    display: flex;
}

.product_image {
    display: flexbox;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.product > img {
    max-height: 5px;
    width: 50%;
    object-fit: contain;
    margin: 20px 0 0 15px;
}

.product > button {
    background: pink;
    border: 1px;
    margin-top: 10px;
    border-color: deeppink;
    color: darkviolet;
}

.product_price {
    margin-top: 5px;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}
